@media (max-width: 391px) {
   aside {
    float: none;
    width: 100%;
   }

   main {
    float: none;
    width: 100%;
   }
}

@media (max-width: 414px) {
    aside {
     float: none;
     width: 100%;
    }
 
    main {
     float: none;
     width: 100%;
    }
 }